<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
    >
    <head>
        <meta charset="UTF-8">
        <title>Taco Cloud</title>
    </head>
    <body>
        <h1>Design your taco!</h1>
        <img th:src="@{/images/taco.png}" alt="logo" />

        <form method="POST" th:object="${design}">
            <div class="grid">
                <div class="ingredient-group" id="wraps">
                    <h3>Designate your wrap:</h3>
                    <div th:each="ingredient : ${wrap}">
                        <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}" />
                        <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                    </div>
                </div>

                <div class="ingredient-group" id="proteints">
                    <h3>Pick your protein:</h3>
                    <div th:each="ingredient : ${protein}">
                        <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}" />
                        <span th:text="${ingredient.name}">INGREDIENT</span><br />
                    </div>
                </div>

                <div class="ingredient-group" id="cheeses">
                    <h3>Choose your cheese:</h3>
                    <div th:each="ingredient : ${cheese}">
                        <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}" />
                        <span th:text="${ingredient.name}">INGREDIENT</span><br />
                    </div>
                </div>

                <div class="ingredient-group" id="veggies">
                    <h3>Determine your veggies:</h3>
                    <div th:each="ingredient : ${veggies}">
                        <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}" />
                        <span th:text="${ingredient.name}">INGREDIENT</span><br />
                    </div>
                </div>

                <div class="ingredient-group" id="sauces">
                    <h3>Select your sauce:</h3>
                    <div th:each="ingredient : ${sauce}">
                        <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}" />
                        <span th:text="${ingredient.name}">INGREDIENT</span><br />
                    </div>
                </div>

            </div>

            <div>
                <h3>Name your taco creation:</h3>
                <input type="text" name="name" />
                <br/>

                <button>Submit your taco</button>
            </div>
        </form>
    </body>
</html>